<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HANU-130\SQLEXPRESS;Initial Catalog=CommisionDepartmentEricDB; integrated security = true; MultipleActiveResultSets=True &quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DBSERVER\TESTTVDB;Initial Catalog=CommisionDepartmentEricDB;User ID=sa;Password=admin@123; MultipleActiveResultSets=True &quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.43;User Id=sa;Password=acmeminds;Initial Catalog=CommissionDeptEricDB;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.5\SQLSERVER2008R2;initial catalog=CommisionDepartmentEricDB;user id=jyotisna;password=acmeminds;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>